<div class="header">
  <h3 class="text-muted">Tic Tac Toe</h3>
  <button class='btn btn-primary' ng-click="createGame()">{{ data.running ? "Reset" : "New Game"}}</button>
  &nbsp;&nbsp;
  <img ng-show='data.loading' src='/images/loading.gif' />
</div>
<h2> {{ data.gameState }} </h2>
<div class="gameboard" ng-show="data.initialized">
  <div ng-repeat="cell in data.cells track by $index" ng-click="playTurn($index)" class="grid" ng-class="cell.status">
    <img ng-show='cell === 0' src='/images/p1.png' />
    <img ng-show='cell === 1' src='/images/p2.png' />
  </div>
</div>

<audio id="druid" src="/sounds/druid.ogg"></audio>
<audio id="druid_well_played" src="/sounds/druid_well_played.ogg"></audio>